<section class="benefits">
    <div class="container">
        <div class="benefits__wrap">
            <article class="benefits__item programs">
                <div class="programs__wrap">
                    <div class="programs__top">
                        <picture>
                            <source media="(max-width: 767px)" srcset="img/cat_back-mobile.svg">
                            <source media="(max-width: 1279px)" srcset="img/cat_back-tablet.svg">
                            <img src="img/cat_back.svg" srcset="img/cat_back.svg" alt="Изображение">
                        </picture>
                        <h2 class="programs__title">Похудение</h2>
                    </div>

                    <div class="programs__bottom">
                        <p class="programs__text">Ваш кот весит больше собаки и почти утратил способность 
                            лазить по деревьям? Пора на диету! Cat Energy Slim поможет 
                            вашему питомцу сбросить лишний вес.</p>
                        <hr>
                        <a href="#" class="programs__link">
                            <span class="programs__span">Каталог Slim</span>
                            <svg width="24" height="20" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="6" x2="18" y2="6" stroke="black" stroke-width="2"/>
                                <path d="M24 6L17.25 11.1962L17.25 0.803848L24 6Z" fill="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>

            <article class="benefits__item programs">
                <div class="programs__wrap">
                    <div class="programs__top">
                        <picture>
                            <source media="(max-width: 767px)" srcset="img/cat_back-2-mobile.svg">
                            <source media="(max-width: 1279px)" srcset="img/cat_back-2-tablet.svg">
                            <img src="img/cat_back-2.svg" srcset="img/cat_back-2.svg" alt="Изображение">
                        </picture>
                        <h2 class="programs__title">Набор массы</h2>
                    </div>

                    <div class="programs__bottom">
                        <p class="programs__text">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
                        <hr>
                        <a href="#" class="programs__link">
                            <span class="programs__span">Каталог pro</span>
                            <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="6" x2="18" y2="6" stroke="black" stroke-width="2"/>
                                <path d="M24 6L17.25 11.1962L17.25 0.803848L24 6Z" fill="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
