<section class="example">
    <div class="container">
        <div class="example__row">
            <div class="example__left left">
                <div class="left__wrap">
                    <h1 class="left__title">Живой пример</h1>
                    <p class="left__text">Борис сбросил 5 кг за 2 месяца, просто заменив свой 
                        обычный корм на Cat Energy Slim. Отличный результат 
                        без изнуряющих тренировок! При этом он не менял своих 
                        привычек и по-прежнему спит по 16 часов в день.
                    </p>
                    <div class="left__inner">
                        <div class="left__item result">
                            <div class="result__item">
                                <strong class="result__total">5 кг</strong>
                                <p class="result__text">Снижение веса</p>
                            </div>

                            <div class="result__item">
                                <strong class="result__total">60 дней</strong>
                                <p class="result__text">Затрачено времени</p>
                            </div>
                        </div>

                        <div class="left__item total">
                            <div class="total__item">
                                <span class="total__text">Затраты на питание:</span>
                                <span class="total__text">15 000 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="example__right right">
                <div class="right__wrap">
                    <picture>
                        <source media="(max-width: 767px)" srcset="img/before-mobile.png">
                        <source media="(max-width: 1279px)" srcset="img/before-tablet.png">
                        <img src="img/before-desktop.png" srcset="img/before-desktop.png" alt="Изображение">
                    </picture>
                    <picture>
                        <source media="(max-width: 767px)" srcset="img/after-tablet.png">
                        <source media="(max-width: 1279px)" srcset="img/after-tablet.png">
                        <img src="img/after-desktop.png" srcset="img/after-desktop.png" alt="Изображение">
                    </picture>
                </div>

                <div class="range right__range">
                    <button class="range__btn">Было</button>
                    <div class="range__item">
                        <div class="range__circle"></div>
                    </div>
                    <button class="range__btn">Стало</button>
                </div>
            </div>
        </div>
    </div>
</section>