<header class="header">
    <div class="container header__container">
        <div class="header__wrap">
            <div class="header__logo">
                <a href="./index.html" class="header__link">
                    <picture>
                        <source media="(max-width: 767px)" srcset="img/logo-mobile.svg">
                        <source media="(max-width: 1279px)" srcset="img/logo-tablet.svg">
                        <img src="img/logo-desktop.svg" srcset="img/logo-desktop.svg" class="header-content__img" alt="Изображение">
                    </picture>
                </a>
            </div>

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="index.html" class="nav__link nav__link--active">Главная</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Каталог продукции</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Подбор программы</a>
                    </li>
                </ul>
            </nav>

            <button class="burger">
                <span class="burger__lines"></span>
            </button>
        </div>
    </div>
</header>

<main>
    <section class="main">
        <div class="container">
            <div class="main__content">
                <div class="main__wrap">
                    <h1 class="main__title">Функциональное питание для котов</h1>
                    <p class="main__text">Занялся собой? Займись котом!</p>
                    <a href="#" class="button main__button">Подобрать программу</a>
                </div>

                <picture>
                    <source media="(max-width: 767px)" srcset="img/index-can-mobile.png">
                    <source media="(max-width: 1279px)" srcset="img/index-can-tablet.png">
                    <img src="img/index-can.png" srcset="img/index-can.png" class="header-content__img" alt="Изображение">
                </picture>
            </div>
        </div>    
    </section>
</main>