<section class="instruction">
    <div class="container">
        <h2 class="instruction__title">Как это работает</h2>
        <ul class="instruction__list">
            <li class="instruction__item instruction__item--one">
                <div class="instruction__wrap">
                    <img src="./img/instruction-1.svg" alt="Изображение 1" class="instruction__img">
                    <p class="instruction__text">
                        Функциональное питание содержит только полезные питательные вещества.
                    </p>
                </div>
            </li>

            <li class="instruction__item instruction__item--two">
                <div class="instruction__wrap">
                    <img src="./img/instruction-2.svg" alt="Изображение 2" class="instruction__img">
                    <p class="instruction__text">
                        Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
                    </p>
                </div>
            </li>

            <li class="instruction__item instruction__item--three">
                <div class="instruction__wrap">
                    <img src="./img/instruction-3.svg" alt="Изображение 3" class="instruction__img">
                    <p class="instruction__text">
                        Замените один-два приема обычной еды на наше функциональное питание.
                    </p>
                </div>
            </li>

            <li class="instruction__item instruction__item--four">
                <div class="instruction__wrap">
                    <img src="./img/instruction-4.svg" alt="Изображение 4" class="instruction__img">
                    <p class="instruction__text">
                        Уже через месяц наслаждайтесь к лучшему вашего питомца!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>