<section class="map-block">
    <div id="map" class="map-block__map">
        <div class="container">
            <div class="invitation map-block__invitation">
                <div class="invitation__wrap">
                    <div class="invitation__item">
                        <p class="invitation__title">Приглашаем к сотрудничеству дилеров!</p>
                    </div>
                    <div class="invitation__item">
                        <p class="invitation__text">ул. Большая Конюшенная, д. 19/8</p>
                        <p class="invitation__text">Санкт-Петербург</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>